.m3-navbar {
    margin-bottom: 16px;
    
    border-radius: 26px;
}

.m3-homelogo {
    color: rgb(4, 82, 4);
    background-color: beige;
    padding: 8px;
    border-radius: 32px;
    margin: 4px;
}